*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.barra{
    background-color: #383838;
    height: 45px;
    width: 50%;
    margin: 130px auto;
    box-shadow: inset 6px 6px 12px black;
        inset: -6px -6px 12px #404040;
    overflow: hidden;
    border: none;
    border-radius: 20rem;
}

.progreso{
    height: 100%;
    width: 0;
    background-color: cyan;
    box-shadow: 0 0 10px cyan,
        0 0 20px cyan;
    display: block;
    border-radius: 20rem;
}

.porcentaje{
    font-size: 2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
    transform: translateY(100px);
    color: cyan;
}

body.celebracion{
    background-image: url("../img/boom.gif");
    background-size: cover;
    background-repeat: no-repeat;
    
}

